node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.local
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/config.yml